@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cover {
  0% {
    z-index: 2;
  }
  10% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}

@keyframes cover-end {
  0% {
    transform: rotateX(92deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes cover-start {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
